.ql-picker.ql-token {
  width: 120px;
}

.ql-picker.ql-token .ql-picker-item::before,
.ql-picker.ql-token .ql-picker-label::before {
  content: "Custom";
}

.ql-picker.ql-token [data-value="userName"]::before {
  content: "User: Name";
}

.ql-picker.ql-token [data-value="userAddress"]::before {
  content: "User: Address";
}
